<div id = "bg"></div>

<div id = "body">

    <div id = "content">

        <div id = "navbar">
            <app-navbar></app-navbar>
        </div>
    
        <form #bookingForm = "ngForm" (ngSubmit) = onSubmit(bookingForm)>
    
            <div class = "d-flex justify-content-center p-2">

                <div class="form-group m-2">
                    <label for = "first_name">First name</label>
                    <input name = "first_name" type = "text" class = "form-control" id = "first_name" placeholder = "Your name" [(ngModel)]="form.first_name">
                </div>

                <div class="form-group m-2">
                    <label for = "last_name">Last name</label>
                    <input name="last_name" type = "text" class = "form-control" id = "last_name" placeholder = "Your surname" [(ngModel)]="form.last_name">
                </div>

            </div>
    
            <div class = "d-flex justify-content-center p-2">

                <div class = "form-group m-2">

                    <label for = "select_film">Select film</label>
                    <select class = "form-control" id = "select_film"  [(ngModel)]="selectedFilmId" name="selectedFilmId" (change)="onFilmSelected()" >
                        <option value="null">Select a film</option>
                        <option *ngFor = "let f of films" [value] = "f.film_id" >{{f.title}}</option>
                    </select>

                </div>
          
                <div class="form-group m-2">
                    <label for = "number">Number</label>
                    <input name="n_tickets" type = "text" class = "form-control" id = "number" placeholder = "number of ticket" [(ngModel)]="form.n_tickets">
                </div>

                <div class="form-group m-2 w-25">
                    <label for = "time">Time</label>
                    <select class="form-control" id="select_time" [(ngModel)]="selectedTime" name="selectedTime">
                        <option value="">Select a time</option>
                        <option *ngFor="let screening of screening" [value]="screening.screening_id">{{ screening.time }}</option>
                    </select>
                </div>

            </div>

            <div class="d-flex justify-content-center p-2">
                <button type="submit" class="btn btn-outline-primary">Submit</button>
            </div>
    
        </form>

    </div>

</div>