<div id = "head">

    <div id = "logo">

        <a href="" id = "logo">
            <img src="../../assets/Logo/Logo_thespace.png" alt="Logo.png" width="150px">
        </a>
        
    </div>
    
    <div id = "navbar">
    
        <button class = "btn btn-primary" routerLink = "">
            Home <i class="bi bi-house"></i>
        </button>
    
        <button class = "btn btn-primary" routerLink = "/movies">
            Movies <i class="bi bi-film"></i>
        </button>
    
        <button class = "btn btn-primary" routerLink = "/ticket">
            Ticket <i class="bi bi-ticket-perforated"></i>
        </button>
    
    </div>

</div>